<nav class="navbar navbar-light bg-light">

  <ul class="nav">

    <a class="navbar-brand" href="/">
      <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
      Invisible Friend
    </a>
  </ul>

    <div class="user-tips">
    {{#if currentUser}}
    
    {{!-- <img class="rounded-circle" width="35" height="35" src="{{currentUser.avatar}}" alt="avatar"> --}}
    <form action="/logout" method="post">
      <button type="submit" class="btn btn-danger btn-sm ml-4">Logout</button>
    </form>
    {{/if}}
  </div>
</nav>